body {
  font-family: sans-serif;
}

.navtest{
  display: inline;
  text-decoration: none;
  /*color: linear-gradient(to right, DeepPink , OrangeRed);*/
  color: red;
}

.navbar {
  list-style-type: none;
  text-decoration: none;
  color: linear-gradient(to right, DeepPink , OrangeRed);
  margin: 0;
  padding: 0;
}

li {
  display: inline;
}

.center{
  margin: 0 auto;
  padding:0px;
  /*display: inline-flex;*/
  align-text: center;
}

.top {
  color: white;
  background: linear-gradient(to right, DeepPink , OrangeRed);
  margin: 0 auto;
}

.allshoes{
  /*border-top: 25px*/
}

.quicksneakers{

}

.reviews{
  border-color: red;
  border-top-style: dashed;
  border-bottom-style: dashed;
}

.buynow{

}

button{
background-color: white;
border: none;
color: orangered;
padding: 15px 32px;
text-align: center;
text-decoration: none;
display: inline-block;
/*font-size: 16px;*/
/*margin: 4px 2px;*/
/*cursor: pointer;*/
border-radius: 8px;
}

.middle {
  background-color: white;
  color: black
}


.headings {
  color: rgb(84, 49, 34);
}

.content {
  color: rgb(155, 118, 119);
}

.shop {
  background-color: rgb(255, 236, 236);
  color: rgb(76, 44, 31);
  text-align: center;
}

.bottom {
  background: linear-gradient(to right, DeepPink , OrangeRed);
  text-decoration: underline;
  text-decoration-color: blue;
  color: white;
  display: inline-flex;
}

.sneakers{
  /*border: 10px solid red;*/
  padding: 2px;
  width: 800px;
  height: 800px;

  display: inline-block;
}

footer {
  color: grey;
}
